.git
.gitignore
.github

Dockerfile
docker-compose.yml
.dockerignore
docker-build.yml

html/var/cache
html/var/logs
html/var/tmp
var/cache
var/logs
var/tmp

html/app/config/parameters.php
app/config/parameters.php

# 5. Śmieci systemowe i pliki IDE
.DS_Store
.idea
.vscode
*.sql
dumps/
backup/