# 1. Pliki tymczasowe PrestaShop
html/var/cache/
html/var/logs/
html/var/tmp/

# 2. Baza danych (pliki binarne)
mysql_data/
.data/

# 3. Klucze SSL (każdy generuje swoje)
certs/*.key

.DS_Store
.idea/
.vscode/